obj/
bin/
.vscode/
lib/libkblas-gpu.a
test
test.cpp

#ignore files in testing
# testing/bin/
testing/data
testing/dat1_bv*/
testing/dat1_gpgp*/
testing/data_perf/
testing/extras/

# dataset
testing/dat1_base_40k/synData/*

#base
testing/dat1_base_6k/
