obj/
bin/
.vscode/
lib/libkblas-gpu.a
test
test.*

#ignore files in testing
# testing/bin/
testing/data
testing/dat1_bv*/
testing/dat1_gpgp*/
testing/data_perf/
testing/extras/

# dataset
testing/dat1_base_40k/synData/*
testing/wind/

#base
testing/dat1_base_6k/

# bash file
testing/fig
testing/log

testing/soil_moist

# test bash files
testing/test_llh.sh
testing/test_estimation.sh
testing/test.sh
testing/test_perf_plot_a100_qaysar.ipynb
testing/*.ipynb

## plot file